input {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(190, 190, 190);
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 18px;
}