p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: rgb(87, 87, 87);
  margin: 0px;
}

.label{
 margin-bottom: 8px;
}

input {
  width: 365px;
  height: 25px;
  border: solid;
  border-width: 2px;
  border-radius: 4px;
  border-color: rgb(87, 87, 87);
}

.disclaimer {
  padding-top: 16px;
  margin-bottom: 16px;
}

.join-button {
  font-size: 18px;
  border: none;
  border-radius: 25px;
  background-color: rgb(45, 99, 188);
  color: white;
  height: 50px;
  width: 370px;
}