.flexbox{
  display: flex;
  flex-direction: row;
  height: 60px;
}

.lightgreen {
  background-color: lightgreen;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.lightblue {
  background-color: lightblue;
  width: 200px;
}

.item-1 {
  background-color: black;
  color: white;
}